body {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: darkblue;
  color: white;
  font-size: xx-large;
}

body.correct {
  background-color: #04dd04;
}

body.incorrect {
  background-color: #d80000;
}

.score {
  text-align: center;
  font-weight: bold;
  padding-bottom: 1%;
  color: rgba(4, 221, 8, 0.435);
  -webkit-transform: scale(3, 3);
          transform: scale(3, 3);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: 0 0 10px 2px;
          box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  border: 3px solid blue;
  background: black;
  color: white;
  border-radius: 8px;
  font-size: larger;
  font-weight: bold;
}

.btn:hover {
  border-color: white;
}

.btn.correct {
  background-color: #04dd04;
  color: black;
}

.btn.incorrect {
  background-color: #d80000;
}

body {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: darkblue;
  color: white;
  font-size: xx-large;
}

body.correct {
  background-color: #04dd04;
}

body.incorrect {
  background-color: #d80000;
}

.score {
  text-align: center;
  font-weight: bold;
  padding-bottom: 1%;
  color: rgba(4, 221, 8, 0.435);
  -webkit-transform: scale(3, 3);
          transform: scale(3, 3);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: 0 0 10px 2px;
          box-shadow: 0 0 10px 2px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.nba, .disney, .history, .next {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  width: 30%;
  display: inline-block;
  margin: auto;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hide {
  display: none;
}

#question-container {
  text-align: center;
}

#scoreText {
  text-align: center;
  color: white;
  font-weight: bold;
}

.large-box {
  -webkit-transform: scale(3, 3);
          transform: scale(3, 3);
}
/*# sourceMappingURL=style.css.map */